---

import Layout from '../layouts/Layout.astro';
---

<Layout title="Contador HTMX + FastAPI (ahora con fetch)">
    <h1>Contador Dinámico con FastAPI (Ahora con Fetch)</h1>



    <div id="contador-display-astro">
        <p>Contador: <b>0</b> (Inicial - Fetch)</p> {/* Div para la respuesta con fetch */}
    </div>



       <button
        hx-post="https://backend-five-eta-74.vercel.app/incrementar"
        hx-target="#contador-display-astro"  
        hx-swap="innerHTML"              
        class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors" 
    >
        Incrementar Contador (Backend FastAPI - htmx)
    </button>

 
</Layout>